---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}



      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <div class="service-box">
          <!--                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>-->
          <img src="img/ken.jpg" class="img-responsive" alt="Responsive image">
          <h3>Ken</h3>
          <p class="text-muted">Manager</p>
          <p class="text-muted">SIM-RMIT Bachelor of Business in Accountancy</p>
          <p class="text-muted">Ngee Ann Polytechnic Diploma in Automation & Mechatronic Systems</p>
        </div>
      </div>
      <!--            <div class="col-lg-4 col-md-4 text-center">-->
      <div class="col-lg-6 col-md-6 text-center">
        <div class="service-box">
          <img src="img/kavan.jpg" class="img-responsive" alt="Responsive image">
          <h3>Kavan</h3>
          <p class="text-muted">Mentor</p>
          <p class="text-muted">Nanyang Technological University Bachelor of Engineering in Computer Science</p>
          <p class="text-muted">Nanyang Junior College</p>
        </div>
      </div>

    </div>
  </div>
